/* Importación de fuentes */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Reset básico para eliminar estilos predeterminados */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Elimina los estilos por defecto de los enlaces */
a {
  text-decoration: none;
  color: inherit;
}

/* Restablece listas */
ul,
ol {
  list-style: none;
}

/* Restablece botones */
button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font: inherit;
}

/* Ajusta las imágenes y los videos para que sean responsivos */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Configura los inputs y textareas */
input,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
}

/* Configuración básica de body */
body {
  line-height: 1.5;
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Asegura que las tablas usen el espacio completo */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
